<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Search Face</title>

    <link rel="stylesheet" href="styles.css">

</head>

<body>

    <h1>Search for a Face</h1>

   <form action="/search" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <button type="submit">Search</button>
    </form>

    <a href="/">Back to Home</a>

</body>

</html>

